<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- start of horizontal navbar -->
    <ul class="menu"> 
      <li> <a href="/"> <img src="images/bdpalogo.png" height="25"></a></li>
      <li><a href="/"> Home </a></li>
    <li><a href="/bdpahistory"> BDPA History </a></li>
    <li><a href="#"> Sample Form </a></li>
    </ul>
    <!-- end navbar -->
    <br><br><br>

    <h1> BDPA History</h1>
    <img src="images/bdpalogo.png" alt="BDPA logo">
    <h1> Welcome </h1> 
    <h2> My name is maliyah! </h2>
    <h3> Im in coding class which is interesting </h3>
    <h4> This will be my intro </h4>
    <p> Thank you for joining </p>
    <p>Welcome to <%= title %></p>
    <h2> Hyperlinks </h2>
    <ul>
   <li> BDPA Nationals <a href="http://www.bdpa.org" >link </a> </li>
   <li> BDPA Milwaukee <a href="http://www.bdpamke.org" >link </a> </li>
   <li> wsschools <a href="http://www.w3schools.com" >link </a> </li>
   <li> Founders of BDPA Earl A Pacer Jr. and David Wimberly </li>
   <li> Founding BDPA year 1975</li>
   <li> First chapter: Philidelphia, Washington DC. Cleveland</li>
   <li> First BDPA Conference year and venue:</li>
   <li> First HSCC year and venue </li>
   <li> Most recent venue and HSCC Winner: Atlanta & Atlanta </li>
   <li> current national president and vp: Rosemary smith (President) Lynette</li>
   <li>Current chapter President and VP: Derry Carter</li>
   

    </ul>
  </body>
</html>
