<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="menu"> 
      <li> <a href="/"> <img src="image/bdpalogo.png" height="25"></a></li>
      <li><a href="/"> Home </a></li>
    <li><a href="/bdpahistory"> BDPA History </a></li>
    <li><a href="#"> Sample Form </a></li>
    </ul>
   <br><br><br>

    <h1> Welcome </h1> 
    <h2> My name is maliyah! </h2>
    <h3> Im in coding class which is interesting </h3>
    <h4> This will be my intro </h4>
    <p> Thank you for joining </p>
    <p>Welcome to <%= title %></p>
    <h2> hyperlinks </h2>
    <ul>
   <li> BDPA Nationals <a href="http://www.bdpa.org" >link </a> </li>
   <li> BDPA Milwaukee <a href="http://www.bdpamke.org" >link </a> </li>
   <li> wsschools <a href="http://www.w3schools.com" >link </a> </li>

    </ul>
  </body>
</html>

